# ETL Project

## Aggregating Chicago Red Light Violations and Weather Data

###### Datasets
###### https://www.kaggle.com/chicago/chicago-red-light-and-speed-camera-data#red-light-camera-violations.csv
###### https://www.kaggle.com/yochanan/chicago-weather

In [1]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import MySQL_Password

In [2]:
#read in datasets
speed_camera_locations = pd.read_csv("Datasets/speed-camera-locations.csv")
speed_camera_violations = pd.read_csv("Datasets/speed-camera-violations.csv")
weather = pd.read_csv("Datasets/weather.csv", sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

In [3]:
#check speed camera location dataset
speed_camera_locations.head()

,ADDRESS,FIRST APPROACH,SECOND APPROACH,GO-LIVE DATE,LATITUDE,LONGITUDE,LOCATION
0,3843 W 111th (Speed Camera),EB,WB,01/13/2014,41.691202,-87.717211,"{'human_address': '{""address"":"""",""city"":"""",""st..."
1,19 W Chicago Ave (Speed Camera),WB,NaN,04/29/2014,41.896556,-87.629026,"{'human_address': '{""address"":"""",""city"":"""",""st..."
2,2445 W 51st St (Speed Camera),EB,NaN,02/24/2014,41.801013,-87.686071,"{'human_address': '{""address"":"""",""city"":"""",""st..."
3,7739 S Western (Speed Camera),NB,NaN,12/18/2013,41.752629,-87.682765,"{'human_address': '{""address"":"""",""city"":"""",""st..."
4,3832 W 79th St (Speed Camera),EB,NaN,02/10/2014,41.749715,-87.719599,"{'human_address': '{""address"":"""",""city"":"""",""st..."

In [4]:
#check speed camera violation dataset
speed_camera_violations.head()

,ADDRESS,CAMERA ID,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,7738 S WESTERN,CHI065,2014-07-08T00:00:00,65,NaN,NaN,NaN,NaN,NaN
1,1111 N HUMBOLDT,CHI010,2014-07-16T00:00:00,56,NaN,NaN,NaN,NaN,NaN
2,5520 S WESTERN,CHI069,2014-07-08T00:00:00,10,NaN,NaN,NaN,NaN,NaN
3,1111 N HUMBOLDT,CHI010,2014-07-26T00:00:00,101,NaN,NaN,NaN,NaN,NaN
4,5529 S WESTERN,CHI068,2014-08-03T00:00:00,20,NaN,NaN,NaN,NaN,NaN

In [5]:
#check speed camera violation dataset
weather.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,REPORTTPYE,HOURLYSKYCONDITIONS,HOURLYVISIBILITY,HOURLYPRSENTWEATHERTYPE,...,MonthlyMaxSeaLevelPressureTime,MonthlyMinSeaLevelPressureValue,MonthlyMinSeaLevelPressureDate,MonthlyMinSeaLevelPressureTime,MonthlyTotalHeatingDegreeDays,MonthlyTotalCoolingDegreeDays,MonthlyDeptFromNormalHeatingDD,MonthlyDeptFromNormalCoolingDD,MonthlyTotalSeasonToDateHeatingDD,MonthlyTotalSeasonToDateCoolingDD
0,WBAN:14819,CHICAGO MIDWAY AIRPORT IL US,186.5,41.78611,-87.75222,2008-01-01 00:51,FM-15,OVC:08 13,1.50,-SN:03 BR:1 |SN:71 |,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
1,WBAN:14819,CHICAGO MIDWAY AIRPORT IL US,186.5,41.78611,-87.75222,2008-01-01 01:18,FM-16,BKN:07 8 OVC:08 13,1.00,-SN:03 BR:1 |SN:71 |,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
2,WBAN:14819,CHICAGO MIDWAY AIRPORT IL US,186.5,41.78611,-87.75222,2008-01-01 01:48,FM-16,BKN:07 10 OVC:08 16,1.50,-SN:03 BR:1 |SN:71 |,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
3,WBAN:14819,CHICAGO MIDWAY AIRPORT IL US,186.5,41.78611,-87.75222,2008-01-01 01:51,FM-15,OVC:08 10,1.50,-SN:03 BR:1 |SN:71 |,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
4,WBAN:14819,CHICAGO MIDWAY AIRPORT IL US,186.5,41.78611,-87.75222,2008-01-01 02:02,FM-16,BKN:07 9 BKN:07 21 OVC:08 26,1.25,-SN:03 BR:1 |SN:71 |,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#clean up address in speed camera location dataset
#strip out "(Speed Camera)"
address_list = []

for i, row in speed_camera_locations.iterrows():
    address = row[0]
    address_cut = str(address[:-15])
    address_list.append(address_cut.upper())
speed_camera_locations["Address_Clean"] = address_list

In [7]:
#clean up date in speed camera violations dataset
#strip out "T00:00:00"
date_list = []

for i, row in speed_camera_violations.iterrows():
    violation_date = row[2]
    violation_cut = str(violation_date[:-9])
    date_list.append(violation_cut)


speed_camera_violations["DATE"] = date_list

In [8]:
#drop unneeded columns in speed camera locations dataset
speed_camera_locations = speed_camera_locations.drop(columns=["ADDRESS", "LOCATION", "GO-LIVE DATE", "FIRST APPROACH", "SECOND APPROACH"])

In [9]:
#rename column in speed camera locations dataset
speed_camera_locations = speed_camera_locations.rename(index=str, columns={"Address_Clean": "ADDRESS"})

In [10]:
#drop unneeded columns in speed camera violations dataset
speed_camera_violations = speed_camera_violations.drop(columns=["X COORDINATE", "Y COORDINATE", "LATITUDE", "LONGITUDE", "LOCATION", "VIOLATION DATE"])

In [11]:
#restrict weather dataset to daily measurements
weather_filter = weather.loc[weather['REPORTTPYE'] == 'SOD']

In [12]:
#clean up date in weather dataset
#strip out time component in date time
weather_date_list = []

for i, row in weather_filter.iterrows():
    weather_date = row[5]
    weather_cut = str(weather_date[:-6])
    weather_date_list.append(weather_cut)

#Create new date variable and restrict weather dataset to daily measurements
weather_filter["Date"] = weather_date_list
weather_clean = weather_filter[['Date','DAILYMaximumDryBulbTemp', 'DAILYMinimumDryBulbTemp',
      'DAILYAverageDryBulbTemp', 'DAILYDeptFromNormalAverageTemp',
      'DAILYAverageRelativeHumidity', 'DAILYAverageDewPointTemp',
      'DAILYAverageWetBulbTemp', 'DAILYHeatingDegreeDays',
      'DAILYCoolingDegreeDays', 'DAILYSunrise', 'DAILYSunset', 'DAILYWeather',
      'DAILYPrecip', 'DAILYSnowfall', 'DAILYSnowDepth',
      'DAILYAverageStationPressure', 'DAILYAverageSeaLevelPressure',
      'DAILYAverageWindSpeed', 'DAILYPeakWindSpeed', 'PeakWindDirection',
      'DAILYSustainedWindSpeed', 'DAILYSustainedWindDirection']]

C:\Users\eyang\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [13]:
#rename column in weather dataset
weather_clean = weather_clean.rename(index=str, columns={"Date": "DATE"})

In [14]:
#inner join speed camera locations and violations datasets
speed_merged = speed_camera_locations.merge(speed_camera_violations, on='ADDRESS')

In [15]:
#inner join speed and weather datasets
speed_weather = speed_merged.merge(weather_clean, on="DATE")

In [16]:
#a database was first created in MySQL before this connection was established
#set up connection to MySQL database
engine = create_engine(f"mysql://root:{MySQL_Password}@localhost/Speed_Violations_DB")
engine.table_names()

[]

In [17]:
#output the latest dataset created in this jupyter notebook to the created MySQL database
speed_weather.to_sql(name='speed_violations_weather', con=engine, if_exists='append', index=False)

In [18]:
#check if the data was properly exported to MySQL
pd.read_sql_query('select * from speed_violations_weather', con=engine).head()

,LATITUDE,LONGITUDE,ADDRESS,CAMERA ID,VIOLATIONS,DATE,DAILYMaximumDryBulbTemp,DAILYMinimumDryBulbTemp,DAILYAverageDryBulbTemp,DAILYDeptFromNormalAverageTemp,...,DAILYPrecip,DAILYSnowfall,DAILYSnowDepth,DAILYAverageStationPressure,DAILYAverageSeaLevelPressure,DAILYAverageWindSpeed,DAILYPeakWindSpeed,PeakWindDirection,DAILYSustainedWindSpeed,DAILYSustainedWindDirection
0,41.691202,-87.717211,3843 W 111TH,CHI048,34,2014-07-29,81,60,70,-5.5,...,0.00,None,None,29.35,None,8.0,29,330,22,350
1,41.801013,-87.686071,2445 W 51ST ST,CHI098,4,2014-07-29,81,60,70,-5.5,...,0.00,None,None,29.35,None,8.0,29,330,22,350
2,41.890122,-87.620416,450 N COLUMBUS DR,CHI125,23,2014-07-29,81,60,70,-5.5,...,0.00,None,None,29.35,None,8.0,29,330,22,350
3,41.793493,-87.611876,536 E MORGAN DR,CHI029,202,2014-07-29,81,60,70,-5.5,...,0.00,None,None,29.35,None,8.0,29,330,22,350
4,41.792761,-87.684157,5520 S WESTERN,CHI069,9,2014-07-29,81,60,70,-5.5,...,0.00,None,None,29.35,None,8.0,29,330,22,350